<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Vue Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Bruno Lapierre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/product_style.css">
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<title>Product App</title>
<body>

<div class="nav-bar"></div>

<div id="app">
    <div class="product">
        <div class="product-image">
            <a :href="link" target="_blank">
                <img :src="image">
            </a>
        </div>

        <div class="product-info">
            <h1>{{product}}</h1>
            <p>{{description}}</p>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <p v-show="onSale">On Sale</p>

            <ul>
                <li v-for="(detail, index) in details">{{index}} - {{detail}}</li>
            </ul>

<!--            <ul>-->
<!--                <li v-for="(size, index) in sizes" :key="index">{{size}}</li>-->
<!--            </ul>-->

            <div v-for="(variant) in variants"
                 :key="variant.variantId"
                 class="color-box"
                 :style="{backgroundColor: variant.variantColor}"
                 @mouseover="updateProduct(variant.variantImage)">
            </div>

            <button @click="addToCart">Add to Cart</button>
            <button @click="removeFromCart">Remove From Cart</button>

            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>

        </div>
    </div>
</div>

<script src="javascript/main.js"></script>
</body>
</html>